body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
body * {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  position: relative;
  display: block;
  background: #fff;
  width: 100%;
  height: 100%;
}
.card {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  max-width: calc(100vh / 0.75 - 30px);
  padding-bottom: 24px;
}
@media (max-width: 592px) {
  .card {
    margin: auto;
  }
}
.card.-vertical {
  max-width: 100%;
  padding: 0;
}
.card.-vertical .card-wrapper {
  position: relative;
  padding: 0;
  height: 100%;
}
.card.-vertical .card-container {
  position: relative;
  height: 100%;
}
.card-wrapper {
  position: absolute;
  width: 100%;
  padding-top: calc(75% - 12px);
}
.card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 4px 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fff;
  overflow: hidden;
  text-decoration: none;
  border-radius: 4px;
}
.card-container:hover .card-cover:before,
.card-container:hover .card-cover:after {
  opacity: 0.7;
}
.card-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.card-cover:before,
.card-cover:after {
  content: "";
  position: absolute;
  height: 80px;
  width: 100%;
  left: 0;
  display: block;
  z-index: 0;
  transition: opacity 0.2s ease-in-out;
  top: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.6)
  );
}
.card-cover:after {
  top: auto;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
.card-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-label {
  font-weight: bold;
  color: #ffffff;
  line-height: 100%;
  padding: 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: auto;
  background: #0006f5;
}
.card-label.-green {
  background: #00cc66;
}
.card-content {
  padding: 8px;
  background: #fff;
  color: #2e2e2c;
  position: relative;
  font-size: 13px;
  line-height: 136%;
  letter-spacing: 0.2px;
  font-style: normal;
  font-weight: normal;
  max-width: 274px;
  margin-top: -8px;
}
.card-logo {
  display: flex;
  align-items: center;
}
.card-title {
  padding: 8px;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: #2e2e2c;
  background: #fff;
}
.card-city,
.card-developer {
  line-height: 20px;
  font-size: 13px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.65);
  position: absolute;
  right: 8px;
  top: 6px;
}
.card-developer {
  display: flex;
  align-items: center;
}
.card-developer-img {
  position: relative;
}
.card-developer-img svg {
  height: 100%;
  width: 100%;
}
.card-developer-img,
.card-developer img {
  height: 20px;
  width: 20px;
  margin-right: 4px;
  box-shadow: 0 0 0 1px #fff;
  border-radius: 50%;
}
.card-city,
.card-developer,
.card-logo,
.card-label,
.card-content,
.card-title {
  z-index: 2;
}
.list {
  height: 100%;
  position: relative;
}
.list.-paddings {
  padding: 0 8px;
}
.list-items {
  width: 100%;
  padding: 0;
  height: 100%;
}
.list-items.-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-items.-vertical .list-item {
  width: 100%;
  flex: 1;
}
.list-items.-vertical .list-item:not(:last-child) {
  margin-bottom: 12px;
}
.list-item {
  width: calc(50% - 6px);
  max-width: calc(100vh / 0.75 - 30px);
  position: relative;
}
@media (max-width: 592px) {
  .list-item {
    width: 100%;
  }
}
@media (max-width: 399px) {
  .list-item {
    max-width: 100%;
  }
}
.list-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  text-decoration: none;
}
.list-placeholder:hover .list-placeholder-button {
  opacity: 0.9;
}
.list-placeholder-button {
  padding: 12px;
  background: linear-gradient(
      186.09deg,
      #ff7001 -11.74%,
      rgba(255, 112, 1, 0.0001) 41.74%
    ),
    linear-gradient(
      186.35deg,
      rgba(255, 179, 1, 5e-5) 42.17%,
      rgba(255, 179, 1, 0.5) 80.81%
    ),
    #ff9501;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #fff;
  text-decoration: none;
}
.list-placeholder-button.-green {
  background: #00cc66;
}
.list-placeholder-text {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 136%;
  letter-spacing: 0.2px;
  color: #2e2e2c;
  text-decoration: none;
}
.list-placeholder-text svg {
  margin-left: 12px;
}
.swiper-button-next,
.swiper-button-prev {
  width: 32px;
  height: 88px;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTguNTkwMDMgMTYuMzRMMTMuMTcgMTEuNzVMOC41OTAwMyA3LjE2TDEwIDUuNzVMMTYgMTEuNzVMMTAgMTcuNzVMOC41OTAwMyAxNi4zNFoiIGZpbGw9IiMyODI4MjgiLz48L3N2Zz4=);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  border-radius: 4px 0 0 4px;
  outline: none;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #fff;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
  transform: translateY(-50%) scale(-1);
}
.swiper-button-disabled {
  display: none;
}
.swiper-container {
  height: 100%;
}
.swiper-pagination {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: calc(50vw * 0.75 + 24px);
  max-height: 100vh;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 8px;
  z-index: -1;
}
@media (max-width: 592px) {
  .swiper-pagination {
    height: calc(100vw * 0.75 + 24px);
  }
}
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  margin: 8px 3px;
  background: #9e9e9e;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #ff9800;
  width: 8px;
  height: 8px;
}
.list.-green .swiper-pagination-bullet-active {
  background: #00cc66;
}
